<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFrwSS4t0MmKZ3WAMxdiG8MP3uUYRcVCA</string>
	<key>GCM_SENDER_ID</key>
	<string>980290857613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.morningcoffeev1</string>
	<key>PROJECT_ID</key>
	<string>morning-coffee-v1-lxukwx</string>
	<key>STORAGE_BUCKET</key>
	<string>morning-coffee-v1-lxukwx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980290857613:ios:6406481858d5258c4d90c4</string>
</dict>
</plist>